@import "common/colors";
@import "common/screen";

.head-manager {
  .row {
    margin-right: 0;
  }

  .head__title {
    background-color: $color_main;
    padding-top: 47px;
    padding-bottom: 60px;


    .container {

      .title {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 30px;

        .title__logo {

        }

        .title__text {
          padding-left: 50px;

          p {
            color: white;
            font-weight: 400;
            font-size: 30px;
            margin-bottom: 0;
          }

          h4 {
            font-size: 26px;
          }
        }
      }
    }
  }

  .head__down {
    background-color: #f5f5f5;
    padding: 0;
    padding-bottom: 100px;

    .container {
      .head__main {
        .head__left {
          .logo-photo {

            position: absolute;
            top: -35px;
            left: 4px;

          }

          .photo-headmanager {

            position: absolute;
            top: -22px;
            left: 29px;

          }
        }

        .head__right {
          .head-text {
            padding-top: 50px;
            padding-left: 25px;

            h4 {
              text-transform: uppercase;
              font-weight: 700;
              font-size: 25px;
            }

            p {
              padding-top: 10px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@include max-w(1024) {
  .head-manager {
    .head__title {
      background-color: $color_main;
      padding-top: 47px;
      padding-bottom: 60px;
      margin-right: 0;

      .container {

        .title {
          display: flex;
          justify-content: left;
          align-items: center;
          padding-left: 30px;

          .title__logo {

          }

          .title__text {
            padding-left: 50px;

            p {
              color: white;
              font-weight: 400;
              font-size: 22px;
              margin-bottom: 0;
            }

            h4 {
              font-size: 20px;
            }
          }
        }
      }
    }

    .head__down {
      background-color: #f5f5f5;
      padding: 0;
      margin-right: 0;

      .container {
        .head__main {
          .head__left {
            .logo-photo {

              position: absolute;
              top: -35px;
              left: 4px;

            }

            .photo-headmanager {

              position: relative;
              top: -22px;
              left: 22px;

              img {
                width: 100%;
              }

            }
          }

          .head__right {
            .head-text {
              padding-top: 50px;
              padding-left: 25px;

              h4 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 21px;
              }

              p {
                padding-top: 10px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@include max-w(768) {
  .head-manager {
    .head__title {
      background-color: $color_main;
      padding-top: 47px;
      padding-bottom: 60px;
      margin-right: 0;

      .container {

        .title {
          display: flex;
          justify-content: left;
          align-items: center;
          padding-left: 30px;

          .title__logo {

          }

          .title__text {
            padding-left: 50px;

            p {
              color: white;
              font-weight: 400;
              font-size: 22px;
              margin-bottom: 0;
            }

            h4 {
              font-size: 20px;
            }
          }
        }
      }
    }

    .head__down {
      background-color: #f5f5f5;
      padding: 0;
      margin-right: 0;

      .container {
        .head__main {
          .head__left {
            .logo-photo {

              position: absolute;
              top: -35px;
              left: 4px;

            }

            .photo-headmanager {

              position: relative;
              top: -22px;
              left: 46px;

              img {
                width: 100%;
              }

            }
          }

          .head__right {
            .head-text {
              padding-top: 50px;
              padding-left: 25px;

              h4 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 25px;
              }

              p {
                padding-top: 10px;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@include max-w(425) {
  .head-manager {

    .head__title {
      background-color: $color_main;
      padding-top: 30px;
      padding-bottom: 45px;
      margin-right: 0;

      .container {

        .title {
          display: flex;
          justify-content: left;
          align-items: center;
          padding-left: 20px;

          .title__logo {

          }

          .title__text {
            padding-left: 19px;

            p {
              color: white;
              font-weight: 400;
              font-size: 15px;
              margin-bottom: 10px;
            }

            h4 {
              font-size: 13px;
              font-weight: bold;
            }
          }
        }
      }
    }

    .head__down {
      background-color: #f5f5f5;
      padding: 0;
      margin-right: 0;

      .container {
        .head__main {
          .head__left {
            .logo-photo {

              position: absolute;
              top: -35px;
              left: 20px;

              img {
                width: 65%;
              }

            }

            .photo-headmanager {

              position: relative;
              top: -22px;
              left: 15px;

              img {
                width: 100%;
              }

            }
          }

          .head__right {
            .head-text {
              padding-top: 25px;
              padding-left: 25px;

              h4 {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 17px;
              }

              p {
                padding-top: 10px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}